<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="theme-color" content="#0288D1">
  <title>Sentiment Analysis</title>
  <!-- icon -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>
<body>
  <noscript>
    <strong>We're sorry but this page doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
  </noscript>

  <div id="app">
    <v-app>
      <nav>
        <!-- nav bar -->
        <v-app-bar app class="light-blue darken-2">
          <!-- menu icon -->
          <v-app-bar-nav-icon
            @click="draw"
            class="white--text"
          ></v-app-bar-nav-icon>
          
          <!-- title -->
          <v-toolbar-title class="text-uppercase white--text">
            <v-btn 
              href="/"
              @click="load=true"
              text
              rounded
              class="white--text"
            >
              <span class="font-weight-light">Sentiment&nbsp;</span>
              <span>Analysis</span>
            </v-btn>
          </v-toolbar-title>
      
          <v-spacer></v-spacer>
          
          <!--  info icon -->
          <v-btn icon>
            <v-icon class="white--text" @click="info">info</v-icon>
          </v-btn>
        </v-app-bar>

        <!-- nav drawer -->
        <v-navigation-drawer app v-model="drawer" class="light-blue darken-2">
          <v-list shaped>
            <v-list-item
              v-for="link in links"
              :key="link.text"
              :href="link.route"
              @click="closeDrawerAndLoading"
            >
              <v-list-item-avatar>
                <v-icon class="white--text">{{ link.icon }}</v-icon>
              </v-list-item-avatar>
              <v-list-item-title class="white--text">{{ link.text }}</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>

        <!-- info dialog -->
        <v-dialog v-model="dialog" width="400">
          <v-card>
            <v-col align="center">
              <v-card-text>
                Created by: Thiago Suzuqui, André Luiz, João Luiz<br/>
                Repository: <a href="https://github.com/thszk/SentimentAnalysis" target="_blank">SentimentAnalysis</a>
              </v-card-text>
              <v-btn rounded @click="info" class="light-blue darken-2 white--text">OK</v-btn>
            </v-col>
          </v-card>
        </v-dialog>
      </nav>
      
      <!-- content container -->
      <v-content class="px-5 pt-10">
        <v-flex xs12 md8 lg8 xl6 class="pt-10" style="margin: auto">
          <div v-if="!load">
            <%- card %>
          </div>
        </v-flex>
        
      </v-content>

      <!-- loading animation -->
      <v-container v-if="load" fluid style="position: absolute; top: 30%;">
        <v-layout align-center justify-center>     
          <v-progress-circular
            style="height: 100px; width: 100px;"
            class="ml-2"
            indeterminate
            color="primary"
          ></v-progress-circular>
        </v-layout>
        </v-container>
    </v-app>
  </div>
</body>
<script>
  new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data() {
      return {
        drawer: false,
        links: [
          { icon: "home", text: "Home", route: "/" },
          { icon: "sentiment_satisfied_alt", text: "Simple Analysis", route: "/freeText" },
          { icon: "sentiment_satisfied_alt", text: "Naive B. Classifier", route: "/airlineAnalysis" }
        ],
        dialog: false,
        input: "",
        load: true,
      }
    },
    methods: {
      draw() {
        this.drawer = !this.drawer;
      },
      info() {
        this.dialog = !this.dialog;
      },
      analyze(route) {
        this.load = true;
        window.location.href = `/${route}/${this.input.replace(/\n/g,"%0D%0A")}`;
      },
      example(route,eg) {
        this.load = true;
        window.location.href = `/${route}/${eg}`;
      },
      closeDrawerAndLoading() {
        this.drawer = false;
        this.load = true;
      }
    },
    mounted() {
      this.load = false;
    }
  })
</script>
</html>