<%- contentFor('card') %>
<div>
  <v-card-title>Análise em linhas aéreas</v-card-title>

  <div class="mt-6">
    <v-card-text>Esta análise é feita usando a biblioteca TextBlob Classificação de Naive Bayes, com base em threads do Twitter de companhias aéreas.</v-card-text>
    <!-- <v-card-text
    >Pode-se consultar os exemplos: <a href="/freeText/Esse%20filme%20é%20muito%20bom">Exemplo 1</a> <a href="/freeText/Esse%20filme%20é%20muito%20ruim">Exemplo 2</a>
    </v-card-text> -->
  </div>

  <v-card-text class="mb-6">
    <v-textarea
      class="mt-4 mb-10"
      label="Insira a frase"
      v-model="input"
    ></v-textarea>
    <v-flex xs12 lg12> <!-- xs4 lg4 TAMANHO DO CARD -->
        <v-card class="mb-4">
          <v-card-title>
             Entrada
          </v-card-title>
          <v-card-text>
            <%= input %>
          </v-card-text>
        </v-card>
        <v-card class="mb-4">
          <v-card-title>
            Saída
          </v-card-title>
          <v-card-text>
            <%= output %>
          </v-card-text>
        </v-card>
      </v-flex>
  </v-card-text>

  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn
      class="blue-grey lighten-3 white--text"
      rounded
      href="/airlineAnalysis"
    >Limpar</v-btn>
    <v-btn
      class="light-blue darken-2 white--text"
      rounded
      @click="analyze('airlineAnalysis')"
    >Analisar</v-btn>
    <v-spacer></v-spacer>
  </v-card-actions>
</div>