<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Utilizando o EJS</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <style>
    h1 {
      margin-bottom: 50px;
      font-weight: bold;
    }
    p {
      font-size: 18px;
    }
  </style>
</head>
<body>
  <h1>Desenvolvedores</h1>
  <div>
    <p>André - Thiago - João</p>
  </div>
</body>
</html>  