<%- contentFor('card') %>
<div>
  <v-flex>
    <v-card class="mb-6 mt-4">
      <v-card-title class="mt-2 mb-2">Simple Analysis</v-card-title>
      <!-- <div class="mt-6"> -->
      <v-card-text>This implementation is done using the TextBlob library that basically analyzes a feeling contained in any sentence, using the polarization of the words that form the sentence. The library performs sorting based on its own word vector.</v-card-text>
      <v-card-text>The subject of this experiment is about movie commentary, that can be entered in any language as long as it is recognized by the google translator.</v-card-text>
      <v-card-text
      >
        Look at usage examples by clicking on buttons:
        <v-btn 
          class="ml-2"
          rounded
          small
          href="/freeText/Esse%20filme%20é%20muito%20bom"
          @click="load=true"
        >1</v-btn>
        <v-btn 
          class="ml-2"
          rounded
          small
          href="/freeText/Esse%20filme%20é%20muito%20ruim"
          @click="load=true"
        >2</v-btn>
      </v-card-text>
      <!-- </div> -->

      <v-card-text class="mb-4">
        <v-textarea
          rows="1"
          auto-grow
          class="mt-4"
          label="Enter the phrase"
          v-model="input"
        ></v-textarea>
      </v-card-text>
    </v-card>
    
    <v-card class="py-6 px-6 mb-6">
      <v-card-title>Analysis Result</v-card-title>
      <v-card class="mb-6">
        <v-card-title>Input</v-card-title>
        <v-card-text><%= input %></v-card-text>
      </v-card>
      <v-card class="mb-6">
        <v-card-title>Output</v-card-title>
        <v-card-text><%= output %></v-card-text>
      </v-card>
    </v-card>

  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn
      class="blue-grey lighten-3 white--text"
      rounded
      href="/freeText"
      @click="load=true"
    >Clean</v-btn>
    <v-btn
      class="light-blue darken-2 white--text"
      rounded
      @click="analyze('freeText')"
    >Analyze</v-btn>
    <v-spacer></v-spacer>
    </v-card-actions>
  </v-flex>
</div>