<%- contentFor('card') %>
<div>
  Botão pra abrir o maps
  <v-spacer></v-spacer>
  
  <v-btn 
    target="blank" href="https://www.google.com/maps/place/Universidade+Cat%C3%B3lica+Dom+Bosco/@-20.408024,-54.6210727,17z/data=!3m1!4b1!4m5!3m4!1s0x9486e7f91ebf9cf9:0xef64075c972d1a78!8m2!3d-20.408029!4d-54.618884"
  >Ir à UCDB</v-btn>
  
  <v-spacer></v-spacer>
  Mapa em uma tag HTML
  <v-spacer></v-spacer>

  <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3739.3899288848597!2d-54.62107268507757!3d-20.408028986337932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9486e7f91ebf9cf9%3A0xef64075c972d1a78!2sUniversidade%20Cat%C3%B3lica%20Dom%20Bosco!5e0!3m2!1spt-BR!2sbr!4v1571699141895!5m2!1spt-BR!2sbr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3739.3899288848597!2d-54.62107268507757!3d-20.408028986337932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9486e7f91ebf9cf9%3A0xef64075c972d1a78!2sUniversidade%20Cat%C3%B3lica%20Dom%20Bosco!5e0!3m2!1spt-BR!2sbr!4v1571699141895!5m2!1spt-BR!2sbr" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>