<%- contentFor('card') %>
<div>
  <v-flex>
    <v-card class="mb-6 mt-4">
      <v-card-title>
        About the site
      </v-card-title>
      <v-card-text>
        This program was created to provide a graphical interface for Python Sentiment Analysis implementations.
      </v-card-text>
      <v-card-text>
        In the Simple Analysis a Python program was created that basically analyzes a feeling contained in any sentence, using the polarization of the words that form the sentence. The library used was TextBlob that performs sorting based on its own word vector. This page contains a brief deion about it, and below it has two example buttons, these examples show a phrase that will appear inside the Input label and its classification will be within the Output label. If the user wants to add his own sentence, there is a textfield named "Enter the phrase" that receive a text to be classified. The text can be written in any language as long as it is recognized by the google translator. After entering the text, there is a button named "Analyze" that parses that text. Next to this button has a "Clear" button to clear the entered text, input and output results.
      </v-card-text>
      <v-card-text>
        The Naive B. Classifier implements a sentence analysis of the Twitter discussion dataset about airline, using the Naive Bayes Classification technique implemented by the TextBlob library. This technique is a probabilistic classifier, which carries the name "naive" because do the analysis disregarding the correlation between words of the text or phrase, for example, if a car labeled "Gol" and also described as "Black", the algorithm doesn't care about the relationship between the two words since the analysis is done independently. In this page you will find a brief description, below this, there are 3 examples that can be tested by clicking on they. The input text can be written only in English.
      </v-card-text>
      <v-card-text>
        The documentation with more details are available <a target="_blank" href="https://github.com/thszk/SentimentAnalysis/blob/master/README.md">here</a>.
      </v-card-text>
    </v-card>
    
  </v-flex>
</div>