<%- contentFor('card') %>
<div>
  <v-flex>
    <v-card class="mb-6 mt-4">
      <v-card-title>
        About the site
      </v-card-title>
      <v-card-text>
          The present project was designed to provide a graphical interface to demonstrate Python applied to Sentiment Analysis.
      </v-card-text>
    </v-card>
    
  </v-flex>
</div>