<%- contentFor('card') %>
<div>
  <v-card-title>Análise de frase simples</v-card-title>

  <v-card-text class="mb-6">
    <v-textarea
      class="mt-4 mb-10"
      label="Insira a frase"
      v-model="input"
    ></v-textarea>
    
    Saida:
    <v-spacer></v-spacer>
    <%= input %>
    <v-spacer></v-spacer>
    <%= output %>
  </v-card-text>

  <v-card-actions>
    <v-spacer></v-spacer>
    <v-btn
      class="light-blue darken-2 white--text"
      rounded
      @click="analyze"
    >Analisar</v-btn>
    <v-spacer></v-spacer>
  </v-card-actions>
</div>